<a href="https://colab.research.google.com/github/drippystacie/codeoffuture/blob/main/dz2_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/Customers.csv', sep = ';')
print(df.isnull().sum())
df.dropna(inplace=True)
print(df)
p = df.groupby('Profession').mean()
print(p)

CustomerID                 0
Gender                     0
Age                        0
Income                     0
Spending Score (1-100)     0
Profession                35
Work Experience            0
Family Size                0
dtype: int64
      CustomerID  Gender  Age  Income  Spending Score (1-100)     Profession  \
0              1    Male   19   15000                      39     Healthcare
1              2    Male   21   35000                      81       Engineer
2              3  Female   20   86000                       6       Engineer
3              4  Female   23   59000                      77         Lawyer
4              5  Female   31   38000                      40  Entertainment
...          ...     ...  ...     ...                     ...            ...
1995        1996  Female   71  184387                      40         Artist
1996        1997  Female   91   73158                      32         Doctor
1997        1998    Male   87   90961                      14     Healthcare
1998        1999    Male   77  182109                       4      Executive
1999        2000    Male   90  110610                      52  Entertainment

      Work Experience  Family Size
0                   1            4
1                   3            3
2                   1            1
3                   0            2
4                   2            6
...               ...          ...
1995                8            7
1996                7            7
1997                9            2
1998                7            2
1999                5            2

[1965 rows x 8 columns]
                CustomerID        Age         Income  Spending Score (1-100)  \
Profession
Artist          994.034314  49.004902  108776.580065               52.678105
Doctor         1010.571429  46.621118  111573.217391               51.900621
Engineer        935.692737  55.094972  111161.240223               48.966480
Entertainment  1061.166667  51.162393  110650.333333               52.940171
Executive      1072.254902  46.601307  113770.130719               49.901961
Healthcare      970.876106  47.843658  112574.041298               50.516224
Homemaker      1022.916667  45.366667  108758.616667               46.383333
Lawyer          957.401408  47.753521  110995.838028               48.859155
Marketing      1038.211765  45.823529  107994.211765               48.717647

               Work Experience  Family Size
Profession
Artist                4.215686     3.653595
Doctor                4.304348     3.670807
Engineer              3.955307     3.581006
Entertainment         3.500000     3.888889
Executive             4.248366     3.967320
Healthcare            4.002950     3.905605
Homemaker             6.133333     4.050000
Lawyer                3.528169     3.619718
Marketing             4.305882     3.729412

<ipython-input-8-cb442b7196a9>:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  p = df.groupby('Profession').mean()