<a href="https://colab.research.google.com/github/drippystacie/codeoffuture/blob/main/Untitled2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
data = {
    'Имя': ['Анастасия', 'Петр', 'Мария', 'Иван', 'Елена'],
    'Возраст': [25, 30, 28, 35, 29],
    'Место работы': ['Поликлиника', 'Школа', 'IT-центр', 'Ветеринария', 'Колледж'],
    'Место проживания':['Москва', 'Балашиха', 'Реутов', 'Королев', 'Мытищи'],
}
df = pd.DataFrame(data)
print("Первые 3 строки:")
print(df.head(3))
print("\nПоследние 3 строки:")
print(df.tail(3))
df.to_csv('my_data.csv', index=False)

Первые 3 строки:
         Имя  Возраст Место работы Место проживания
0  Анастасия       25  Поликлиника           Москва
1       Петр       30        Школа         Балашиха
2      Мария       28     IT-центр           Реутов

Последние 3 строки:
     Имя  Возраст Место работы Место проживания
2  Мария       28     IT-центр           Реутов
3   Иван       35  Ветеринария          Королев
4  Елена       29      Колледж           Мытищи